<%= form_for @room do |form| %>
  <p>
    <%= form.text_field :name, placeholder: "Room name (optional)", class: "form-input" %>
  </p>

  <%= form.password_field :password, placeholder: "Password (optional)", class: "form-input" %>
  <%= form.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-input" %>

  <p>
    <%= form.text_field :expiration_time, placeholder: "Message expiration time (in seconds)", value: "", class: "form-input" %>
  </p>

  <%= button_tag "Submit", class: "button button--primary" %>
<% end %>
