<%= render "chat_item" %>

<div class="app">
  <div class="header" data-uuid="<%= @room.uuid %>">
    <%= @room.uuid %> <br>
    <%= @username %> <br>
    <% if @room.expiration_time %>
      <small>Expiration time: <%= @room.expiration_time %> seconds</small>
    <% end %>
  </div>

  <div class="chat-container" data-role="chat-container" data-expiration="<%= @room.expiration_time %>" data-username="<%= @username %>"></div>

  <div class="drawer">
    <%= form_for :message, url: messages_path, method: :post, remote: true, data: { role: "chat-message" } do |form| %>
      <div class="form-group">
        <%= form.text_area :content, placeholder: "Type a message...", class: "form-input", autocomplete: "off", rows: 2 %>
        <%= form.hidden_field :room_uuid, value: @room.uuid %>

        <%= button_tag "➤", class: "submit" %>
      </div>
    <% end %>
  </div>
</div>
