<!DOCTYPE html>
<html>
  <head>
    <title>EncryptedChat</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= inline_css "application.css" %>
  </head>

  <body>
    <main class="wrapper">
      <%= yield %>
    </main>

    <%= javascript_pack_tag "application" %>
  </body>
</html>
